*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_forms{
    width: 50%;
    margin: 0 auto;
    background-color: rgb(224, 166, 178);
    margin-top: 20px;
}
h3{
    text-align: center;
    color: white;
    border-bottom: 1px dotted white;
}

form{
    padding: 20px;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    border :1px solid;
}

label{
    padding: 15px 15px 15px 0px;
   
    
}

#required{
    color: red;
}

#fname_message{
     color: white;
     font-size: 13px;
   
}
.fname_input_box{
    display: flex;
    gap: 10px;
}

#lname_message{
    
     color: white;
     font-size: 13px;
}
.lname_input_box{
    display: flex;
    gap: 10px;
}

.email_input_box{
    display: flex;
    gap: 10px;
}

#email_message{
     color: white;
     font-size: 13px;
}
.username_input_box{
    display: flex;
    gap: 10px;
}

#username_message{
     color: white;
     font-size: 13px;
}

#paswd_message{
     color: white;
     font-size: 13px;
}

.password_input_box,.confirm_password_input_box{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#confirm_paswd_message{
    color: white;
    font-size: 13px;
}

#dob_message{
    color: white;
    font-size: 13px;
}

.bday_label_input_box{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#form_error{
    color: white;
}





@media screen and (max-width:414px) {
    .container_forms{
        width: 100%;
        background-color: rgb(7, 7, 7);
    }

    label{
        color: white;
    }
    input{
        width: 100%;
        padding: 15px 0px;
    }
    #submit_id{
        width: 100%;
        padding: 10px 0px;
    }
}